
/* Cambio de Slides Oscuras a fondo blanco */

slides > slide.dark {
  background-color: white !important;
}

/* Cambio de color de Títulos h2 en todos los slides */

h2 {
  color: #183e52 !important;
}

h3 {
  color: #183e52 !important;
}

/* Para cambiar el color del título h1 y h2 del primer slide */

.title-slide hgroup > h1, 
.title-slide hgroup > h2 {
  color: brown !important;
}

/* Aplicar subrayado a los títulos tipo h1 y h2 */

.auto-fadein {
  width: 85%;
}
.auto-fadein > h1 {
  border-bottom: 2px solid brown;
  padding-bottom: 10px;
}
.auto-fadein > h2 {
  border-bottom: 2px solid brown;
  padding-bottom: 10px;
}

/* Aplicar color y margen al chunk de código y resultados */

pre {
  background-color: #c4ffcf !important;
  width: auto;
  left: auto;
  border-radius: 5px !important;
  border-color: #adb5bd !important;
  border-width: thin !important;
  border-style: solid !important;
}

pre.prettyprint {
  background-color: #cbe8f5 !important;
}

/* Aplicar formato al video cargado */

.vembedr {
  display: inline-block;
  border-radius: 25px;
  overflow: hidden;
  width: 850px;
  height: 450px;
}

.vembedr iframe {
  display: block;
  border: none;
  align-content: center;
}
